<section class="section">
  <div class="container">
    <div
      class="lg:w-1/4 md:w-1/2 sm:w-full sm:text-center md:text-right lg:pl-8"
    >
      <h2 class="lg:text-40 lg:mb-24 c-blue">مجوز ها</h2>
      <p class="sm:text-14 sm:w-fit sm:mb-8">
        معرفی برخی از مجوز ها و پروانه های اخذ شده توسط نتاپ در راستای رسیدن به
        مرزی نو
      </p>
    </div>
    <div class="lg:w-3/4">
      <div class="cells">
        <div class="cell lg:w-1/3 md:w-1/2 sm:w-full">
          <div class="card card--fullHeight flex flex-col">
            <div class="card__img">
              <img src="/assets/media/cra.svg" alt="" />
            </div>
            <h4 class="sm:text-16 sm:mb-8">ارائه خدمات ارتباطی ثابت</h4>
            <p class="c-darkestGray sm:text-14 sm:w-fit sm:mb-8">
              شرکت نگین تجارت آپامه با نام تجاری نتاپ یکی از شرکت های فعال در
              زمینه ارائه خدمات ارتباطی به مشتریان می باشد و در این راستا و با
              هدف توسعه سبد محصولات خود در این حوزه و ایجاد ارزش افزوده، پروانه
              ارائه خدمات ارتباطی ثابت (Servco) را در سال ۱۳۹۶ از سازمان تنظیم
              مقررات و ارتباطات رادیویی اخذ نمود.
            </p>
            <a class="btn btn--outline" [routerLink]="['/permissions/servco']"
              >اطلاعات بیشتر</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
