<section class="section">
  <div class="container">
    <div
      class="lg:w-1/4 md:w-1/2 sm:w-full sm:text-center md:text-right lg:pl-8"
    >
      <h2 class="lg:text-40 lg:mb-24 c-blue">قطعات ارزشمند یه پازل</h2>
      <p class="sm:text-14 sm:w-fit sm:mb-8">
        ما یک صندوق سرمایه گذار خطرپذیر را آنطور ساخته ایم که یک شرکت را می
        سازند، جایی که همه واحدهای سازمان حرف هایی از یک جنس می زنند.
      </p>
    </div>
    <div class="lg:w-3/4">
      <div class="cells">
        <div class="cell lg:w-1/3 md:w-1/2 sm:w-full">
          <div class="card card--fullHeight flex flex-col">
            <div class="card__img">
              <img src="/assets/media/azarTel.svg" alt="" />
            </div>
            <h4 class="sm:text-16 sm:mb-8">آذرتل</h4>
            <p class="c-darkestGray sm:text-14 sm:w-fit sm:mb-8">
              این اپراتور تلفن همراه با تمرکز بر بازارهای گوشه ای مفهوم باشگاه
              مشتریان را متحول کرده و در حال حاضر با همکاری باشگاه تراکتورسازی
              خدمات ویژه به طرفداران این تیم محبوب ارائه می کند
            </p>
            <a class="btn btn--outline" target="blank" href="http://azartel.ir/"
              >مشاهده وبسایت</a
            >
          </div>
        </div>
        <div class="cell lg:w-1/3 md:w-1/2 sm:w-full">
          <div class="card card--fullHeight flex flex-col">
            <div class="card__img">
              <img src="/assets/media/azarTel.svg" alt="" />
            </div>
            <h4 class="sm:text-16 sm:mb-8">آپتل</h4>
            <p class="c-darkestGray sm:text-14 sm:w-fit sm:mb-8">
              آپتل اپراتور مجازی تلفن همراه است که با ارائه خدمات و سرویس های
              متنوع ارتباطی و نیز ارزش افزوده خاص و ویژه، تجربه ای متفاوت برای
              مشترکین رقم می زند.
            </p>
            <a
              class="btn btn--outline"
              target="blank"
              href="https://www.aptel.ir/"
              >مشاهده وبسایت</a
            >
          </div>
        </div>
        <div class="cell lg:w-1/3 md:w-1/2 sm:w-full">
          <div class="card card--fullHeight flex flex-col">
            <div class="card__img">
              <img src="/assets/media/satrap.png" alt="" />
            </div>
            <h4 class="sm:text-16 sm:mb-8">ساتراپ</h4>
            <p class="c-darkestGray sm:text-14 sm:w-fit sm:mb-8">
              ساتراپ، طراحی شده تا با نگاهی نو به فرایندهای کسب و کارهای ارائه
              محصولات غذایی و فروشگاهی همانند رستوران، فست فود و کافی شاپ و
              قنادی، پروتئینی و هایپر مارکتها، از دریافت سفارش تا پایان انجام
              تراکنش را یکپارچه سازد، به سادگی راه اندازی شود، هزینه‌های شما را
              کاهش دهد و همواره در دسترس باشد.
            </p>
            <a
              class="btn btn--outline"
              target="blank"
              href="https://mysatrap.com/"
              >مشاهده وبسایت</a
            >
          </div>
        </div>
        <div class="cell lg:w-1/3 md:w-1/2 sm:w-full">
          <div class="card card--fullHeight flex flex-col">
            <div class="card__img">
              <img src="/assets/media/asan-bime_logo.svg" alt="" />
            </div>
            <h4 class="sm:text-16 sm:mb-8">آسان بیمه</h4>
            <p class="c-darkestGray sm:text-14 sm:w-fit sm:mb-8">تست</p>
            <a
              class="btn btn--outline"
              target="blank"
              href="https://www.asanbime.com/"
              >مشاهده وبسایت</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
