<section class="section">
  <div class="container">
    <div
      class="lg:w-1/4 md:w-1/2 sm:w-full sm:text-center md:text-right lg:pl-8"
    >
      <h2 class="lg:text-40 lg:mb-24 c-blue">نمایندگان نتاپ</h2>
    </div>
    <div class="lg:w-3/4">
      <div class="cells">
        <div class="cell lg:w-1/3 md:w-1/2 sm:w-full">
          <div class="card card--fullHeight flex flex-col">
            <h4 class="sm:text-16 sm:mb-8">
              پدیده حرفه ایرانیان آذربایجان شرقی
            </h4>
            <p class="c-darkestGray sm:text-14 sm:w-fit sm:mb-16">
              آذربایجان شرقی-تبریز – خیابان ارتش جنوبی – چهار راه باغشمال – کوچه
              حاج رضا – جنب مسجد حاج رضا – پلاک 24 و 26 – طبقه سوم
            </p>
            <a href="tel:04135572940">041-35572940-41</a>
          </div>
        </div>
        <div class="cell lg:w-1/3 md:w-1/2 sm:w-full">
          <div class="card card--fullHeight flex flex-col">
            <h4 class="sm:text-16 sm:mb-8">توسن تجارت ایرانیان گيلان</h4>
            <p class="c-darkestGray sm:text-14 sm:w-fit sm:mb-16">
              گیلان-رشت - بلوار شهید انصاری - خیابان ارشاد - نبش کوچه اول -
              ساختمان توسن تجارت ایرانیان
            </p>
            <a href="tel:01333755594">013-33755594</a>
          </div>
        </div>
        <div class="cell lg:w-1/3 md:w-1/2 sm:w-full">
          <div class="card card--fullHeight flex flex-col">
            <h4 class="sm:text-16 sm:mb-8">همکاران پرشین وطن البرز</h4>
            <p class="c-darkestGray sm:text-14 sm:w-fit sm:mb-16">
              البرز-کرج-چهارراه کارخانه قند،بلوار زکریای رازی،جنب فرهنگسرای
              کوثر، ساختمان مشتاق طبقه اول واحد 5 و 6
            </p>
            <a href="tel:02632401182">026-32401182-5</a>
          </div>
        </div>
        <div class="cell lg:w-1/3 md:w-1/2 sm:w-full">
          <div class="card card--fullHeight flex flex-col">
            <h4 class="sm:text-16 sm:mb-8">همکاران پرشین وطن قزوین</h4>
            <p class="c-darkestGray sm:text-14 sm:w-fit sm:mb-16">
              قزوین-بلوار آیت اله خامنه ای، جنب بیمارستان پاستور، ساختمان تجاری
              اداری نیایش، طبقه 3، واحد E41-E42
            </p>
            <a href="tel:02833991092">028-33991092</a>
          </div>
        </div>
        <div class="cell lg:w-1/3 md:w-1/2 sm:w-full">
          <div class="card card--fullHeight flex flex-col">
            <h4 class="sm:text-16 sm:mb-8">یاران تجارت زرین</h4>
            <p class="c-darkestGray sm:text-14 sm:w-fit sm:mb-16">
              تهران-میدان هفت تیر- خیابان کریم خان زند- نبش خردمند جنوبی- پلاک69
            </p>
            <a href="tel:02183332040">021-83332040</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
