<section class="section">
  <div class="container">
    <h2 class="sm:w-full">دوست داریم با شما بیشتر آشنا شویم...</h2>
    <p class="sm:w-full">
      شما یک کارآفرین هستید یا ایده شخصی دارید، شاید هم فردی هستید که مایل به پویایی سرمایه گذاری خود است، به هر حال ما
      دوست داریم از شما بشنویم. در صورت تمایل به ما نظر خود را بیان کنید یا سوال خود را از info@netap.ir بپرسید، همچنین
      می توانید فرم تماس زیر را پر کنید و با هم در تماس باشیم.
    </p>
    <div class="cells">
      <div class="cell sm:w-full md:w-50"></div>
      <div class="cell sm:w-full md:w-50"></div>
      <div class="cell sm:w-full"></div>
      <div class="cell sm:w-full"></div>
    </div>
  </div>
</section>
