<section class="section">
  <div class="container sm:text-center">
    <h2 class="lg:text-40 lg:mb-24 c-blue sm:w-full">
      پروانه ارائه خدمات ارتباطی ثابت
    </h2>
    <p class="sm:text-14 sm:w-fit sm:mb-32 sm:w-full">
      شرکت نگین تجارت آپامه با نام تجاری نتاپ یکی از شرکت های فعال در زمینه
      ارائه خدمات ارتباطی به مشتریان می باشد و در این راستا و با هدف توسعه سبد
      محصولات خود در این حوزه و ایجاد ارزش افزوده، پروانه ارائه خدمات ارتباطی
      ثابت (Servco) را در سال ۱۳۹۶ از سازمان تنظیم مقررات و ارتباطات رادیویی اخذ
      نمود. این شرکت بر اساس موضوع پروانه می تواند نسبت به ارایه هرگونه خدمات
      ارتباطی، انتقال داده و انواع خدمات محتوایی و ارزش افزوده به مشترک بر بستر
      شبکه اپراتور دارای شبکه فیزیکی ارتباطات ثابت در تمام یا بخشی از قلمرو
      سرزمین جمهوری اسلامی ایران اقدام نماید.
    </p>
    <div class="sm:w-full">
      <img src="/assets/media/servco.jpg" width="100%" alt="" />
    </div>
  </div>
</section>
