:root {
  --primary-light-3-x-style: #eafaff;
  --bright-sky-blue: #07bdf7;
  --primary-light-1-x-style: #235eea;
  --primary-base: #224698;
  --primary-dark-1-x-style: #193474;
  --primary-dark-2-x-style: #0a1f4d;
  --secondary-light-3-x: #fff2cb;
  --secondary-light-2-x: #ffe082;
  --secondary-light-1-x: #ffca28;
  --secondary-base: #f7ab08;
  --pumpkin-orange: #f57c00;
  --secondary-dark-2-x-style: #e65100;
  --gray-scale-white-style: #ffffff;
  --status-red-dark-style: #b71c1c;
  --status-red-style: #ef5350;
  --status-red-light-style: #f9eaec;
  --status-yellow-dark-style: #d29949;
  --status-yellow-style: #ffcb18;
  --status-yellow-light-style: #fff7dc;
  --status-orange-dark-style: #d84315;
  --status-orange-style: #ff7f51;
  --status-orange-light-style: #fff1ec;
  --status-cayan-dark-style: #007e72;
  --status-cayan-style: #01d2be;
  --status-cayan-light-style: #e1fefb;
  --status-green-dark-style: #138655;
  --status-green-style: #11e68b;
  --status-green-light-style: #e0fbeb;
  --status-purple-dark-style: #402aa4;
  --status-purple-style: #846af6;
  --status-purple-light-style: #ebe6ff;
  --primary-light-2-x-style: #0788f7;
  --gray-scale-very-light-style: #f9fbfe;
  --gray-scale-light-style: #dde4ef;
  --gray-scale-medium-style: #7e8187;
  --gray-scale-dark-style: #373b44;
  --gray-scale-very-dark-style: #212121;
  --secondary-dark-1-x-style: #eb7e01;
  --festival-orange-light-style: #fff3e5;
  --festival-pink-light-style: #fbe5ef;
  --festival-greaan-light-style-2: #b5f4d4;
  --festival-orange-style: #ffa561;
  --festival-pink-style: #d90368;
  --festival-greaan-style: #01cd66;
  --fill-primary-base: #5377a1;
  --fill-greyscale-charcoal: #817e7e;
}
