<section class="home flex al-center">
  <div class="container flex-col sm:text-center al-center">
    <h1 class="c-white sm:w-full sm:mb-24 sm:text-40">
      ما از تغییر حمایت می کنیم
    </h1>
    <p class="c-white lg:w-1/2 sm:mb-16 sm:text-16">
      ما در نتاپ روی کارآفرینان، رهبران، متفکران و تیم هایی که متعهد به بهبود و
      تغییر هستند سرمایه گذاری می کنیم. نگاه ما بازسازی خلاقیت در تمام زوایای
      زندگی است. زندگی ای که تلاش می کنیم، ساده تر، هوشمند تر و لذت بخش تر باشد.
    </p>
    <button class="btn btn--primary sm:w-1/5">بیشتر بدانید</button>
  </div>
  <video class="home__video" playsinline autoplay muted loop>
    <source src="/assets/media/home.mp4" type="video/mp4" />
  </video>
</section>
