.card {
  // padding: 30px;
  padding: 16px;
  border-radius: 8px;
  background: white;
  position: relative;
  width: 100%;
  border: 1px solid #e1e1e1;
  overflow: hidden;

  &--fullHeight {
    height: 100%;
  }

  &__img {
    margin: -16px -16px 0;
    margin-bottom: 16px;
    background: #e1e1e1;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
