.list {
  .list-item {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    align-items: center;

    .item-title {
      font-size: 12px;
      font-weight: normal;
      color: #224698;
    }

    .item-value {
      flex: 0 0 auto;
      white-space: nowrap;
      font-weight: bold;
      font-size: 14px;
      color: #224698;
    }
  }

  &__black {
    .list-item {
      .item-title {
        color: #7e8187;
      }

      .item-value {
        color: #7e8187;
      }
    }
  }
}
