.search {
  height: 50px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: solid 1px var(--gray-scale-medium-style);
  background-color: var(--gray-scale-white-style);
  width: 100%;
  max-width: 450px;
  outline: 0;
  padding: 0 20px;
  color: var(--gray-scale-medium-style);
}
